<div class="container-fluid">
    <div class="row">
        <div class="my-5 no-margin">
            <div class="p-5 blue-bg">
              <div class="container py-5 text-center">
                <h1 class="text-body-emphasis fw-bold">{{contact}}</h1>
                
              </div>
            </div>
          </div>

    </div>

</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <h1>Contact From</h1>
          
              
        </div>

        <div class="col-md-12">            
            <google-map height="500px"
            width="100%"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map>

    </div>

      
    </div>

</div>

