<section class="bg-body-tertiary rounded-3 mt-5">
<div class="container">
    <div class="row align-items-center">
        <div class="p-md-0 mb-5 col-md-8 text-white">
            <div class="py-5">
              <h3 class="display-5 fw-bold">{{myname}}</h3>
              <h5 class="mb-3 cap-bg">{{caption}}</h5>
              <p class="col-md-10 fs-5">{{aboutme}}</p>
              <button class="btn btn-primary btn-lg myport" type="button">
                {{mybtn}}
              </button>

             
            </div>
          </div>

          <div class="col-md-4">            
            <div class="profilepic">
              <img src="assets/12.png" class="w-100"/>
            </div>
          </div>

    </div>

</div>
</section>